<table class="table table-bordered border-primary table-hover" style="text-align: center;">
    <thead class="table-primary "><th>loginid</th><th>고객명</th><th>상품id</th><th>상품명</th><th>일자</th><th colspan="2"></th>
    </thead>
    <% for (var i = 0; i<carts.length; i++){%>
    <tr>
        <td><%=carts[i].loginid%></td>
        <td><%=carts[i].personName%></td>
        <td><%=carts[i].mer_id %></td>
        <td><%=carts[i].productName %></td>
        <td><%=carts[i].date %></td>
        <td><a href="/cart/update/<%= carts[i].cartId%>" style="text-decoration: none;">수정</a></td>
        <td><a href="/cart/delete/<%= carts[i].cartId%>" style="text-decoration: none;" onclick="if(confirm('정말로 삭제하시겠습니까?')===false) return false">삭제</a></td>
    </tr>
    <% }%>
</table>