<table class="table table-bordered border-primary table-hover" style="text-align: center;">
    <thead class="table-primary ">
        <th>고객ID</th>
        <th>고객명</th>
        <th>상품ID</th>
        <th>상품명</th>
        <th>구매일</th>
        <th>가격</th>
        <th>포인트</th>
        <th>구매량</th>
        <th>총가격</th>
        <th>지불여부</th>
        <th>취소여부</th>
        <th>환불여부</th>
        <th colspan="2"></th>
    </thead>
    <% for (var i = 0; i<purchases.length; i++){%>
    <tr>
        <td><%= purchases[i].loginid%></td>
        <td><%= purchases[i].person_name%></td>
        <td><%= purchases[i].mer_id%></td>
        <td><%= purchases[i].product_name%></td>
        <td><%= purchases[i].date%></td>
        <td><%= purchases[i].price %>원</td>
        <td><%= purchases[i].point %></td>
        <td><%= purchases[i].qty %></td>
        <td><%= purchases[i].total %>원</td>
        <td><%= purchases[i].payYN %></td>
        <td><%= purchases[i].cancel %></td>
        <td><%= purchases[i].refund %></td>
        <td><a href="/purchaseUpdate/<%= purchases[i].purchase_id%>" style="text-decoration: none;">수정</a></td>
        <td><a href="/purchaseDelete/<%= purchases[i].purchase_id%>" style="text-decoration: none;" onclick="if(confirm('정말로 삭제하시겠습니까?')===false) return false">삭제</a></td>
    </tr>
    <% }%>

</table>